head
  title SmartMeter Vienna
  style 
    include style.css
body 
  nav 
    a(href="/") Home
    |&nbsp;|&nbsp; 
    a(href="/import") Import      
    |&nbsp;|&nbsp; 
    a(href="/api-docs#") API (Swagger)   
    |&nbsp;|&nbsp; 
    a(href="/log") Log
    |&nbsp;|&nbsp; 
    a(href="/config") Config             
    |&nbsp;|&nbsp; 
    a(href="/info") Info
    |&nbsp;|&nbsp; 
    a(href="/logout") Logout  