doctype html
html
  include head.pug
  body

        h1 Infos &amp; Tools
        
        table(class='links')
            tr 
                th Service
                th Description               
                th Link 

            tr 
                td Github
                td Source code and issue tracking
                td 
                    a(href="https://github.com/gf78/smartmetervienna",target="_blank") [GO]

            tr 
                td Docker Hub
                td Docker image
                td 
                    a(href="https://hub.docker.com/r/gf78/smartmetervienna",target="_blank") [GO]

            tr 
                td Grafana
                td Dashboard Template
                td 
                    a(href="https://github.com/gf78/smartmetervienna/blob/main/grafana/dashboard.json",target="_blank") [GO]

            tr 
                td Wiener Netze
                td Smart Meter-Businessportal
                td 
                    a(href="https://smartmeter-business.wienernetze.at/",target="_blank") [GO]

            tr 
                td Wiener Netze
                td Smart Meter-Webportal
                td 
                    a(href="https://smartmeter-web.wienernetze.at/",target="_blank") [GO]

  

