doctype html
html
head
  title SmartMeter Vienna
  style 
    include style.css
  body

    h1 Login

    form(action='/', method='GET')
      table 
          tr 
            td  API Key
            td 
              input(type='text', name='api_key', value='')
          tr 
            td  
            td
              input(type='submit', value='Login')
    